apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: student-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: student-deploy
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
